* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(73, 79, 82);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
}

.logo-link{
    text-decoration: none;
    margin: 1em;
    color: white;
}

.nav-link-container{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    margin: 1em;
    text-decoration: none;
    color: white;
}

.main-container {
    background-color: antiquewhite;
    min-height: 90vh;
    align-items: center;
}

.form-padding {
    padding: 1em;
}

.user-inp{
    max-width: 35%;
}

.post-form{
    padding: 1em;
}

.post-submit-btn{
    margin: 10px;
}

.post-save-btn{
    margin: 10px;
}

.post-image {
    max-height: 30%;
    max-width: 30%;
}

.post-control {
    margin-top: 10px;
}

.form-content {
    min-height: 300px;
}

.post-list{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}

.card {
    margin: 1em;
    border-radius: 15px;
    padding: 1em;
    min-width: 80%;
}

.sub-text {
    align-items: flex-end;
}

.user-subtitle {
    margin-right: 1em;
}

.post-control-btn{
    margin: 1px;
}

.draft-text {
    color: red;
}

/* profile pic styling */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}